@attribute [Route(UrlConfig.UnauthorizedUrl)]

<div class="d-flex flex-column align-items-center justify-content-evenly w-100">
    <div class="alert alert-danger">You are not authorized to access this page.</div>
</div>
