@inherits LayoutComponentBase
@inject MainMenu menu

<PageTitle>AdventureWorks</PageTitle>

<div>
    <div class="sidebar-pane sidebar collapse bg-dark navbar-dark">
        <NavMenu Class="navbar-nav" Items="menu.Items" />
    </div>

    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <button class="navbar-toggler shadow-none border-0" type="button"
                data-bs-toggle="collapse" data-bs-target=".sidebar-pane">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand me-auto" href="#">AdventureWorks</a>
        <nav class="navbar-expand px-3">
            <LoginDisplay />
        </nav>
    </header>

    <main class="sidebar-pane collapse">
        <div class="body">
            @Body
        </div>
        <footer class="px-2 py-1 row gx-0 justify-content-between bg-dark text-white-50">
            <div class="col-auto">Copyright © @DateTime.Now.Year MyCompany. All rights reserved.</div>
            <div class="col-auto">Powered by <a class="text-white-50" href="http://xomega.net">Xomega.Net</a></div>
        </footer>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>